/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/uploads
/public/img/facility
/public/img/faculty
/public/img/shortCourse
/public/img/provider
/_ide_helper.php
_ide_helper.php
